#matrixForm {
	background-color: #5e7287;
	width:500px;
	height:500px;
}
#matrixFormMain {
	height: 100%;
	width:100%;
	background-color: antiquewhite;
// overflow: hidden;
}
#vertTitle {
	//background-color: #8191a2;
	font-family: monospace;
	text-align: center;
	color: #c7c7c7;
	height:20px;
}
#HETitle {
	width:20px;
	font-family: monospace;
	//background-color: #8191a2;
	text-align: center;
	color: #c7c7c7;
 // -ms-writing-mode: bt-lr;
// -webkit-writing-mode: vertical-lr;
// -moz-writing-mode: vertical-lr;
// -ms-writing-mode: vertical-lr;
// writing-mode: vertical-lr;
}
#matrixData {
	width:100%;
	height:100%;
}
#dataTable {
	height:100%;
	width:100%;
}
#dataTable td {
	background-color:rgb(181, 185, 190);
	color: white;
	text-align: center;
	width:20px;
	height:20px
}
.matrixDataCell {
	height:100%;
// width:100%;
	background-color:rgb(70, 79, 89);
}
#addCol, #addRow {
	width: 20px;
	height: 20px;
	//background-color: rgb(90, 127, 166);
	text-align: center;
	color: rgb(255, 102, 0);
  cursor: pointer;
}
#matrixContainer {
	width:100%;
	height:100%;
}
#matrixContainerTable {
	border:none;
	border-collapse:collapse;
	background-color:rgb(61, 61, 61);
}
#HENamesTable td {
	width:20px;
	height:20px;
	background-color:rgb(145, 145, 145);
	color: white;
	//text-align: center;
	font-family: monospace;
}

#HENamesTable {
	width: 25px;
	height: 25px;
}

#vertNamesTable {
  width: 100%;
}

#vertNamesTable td {
	width: 20px;
	height: 20px;
	background-color:rgb(145, 145, 145);
	color: white;
	text-align: center;
	font-family: monospace;
}
#vertNames {
	padding-bottom: 0px;
	padding-top: 0px;
	//background-color: rgb(70, 79, 89);
}
#HENames {
	padding-right: 0px;
	padding-left: 0px;
	//background-color: rgb(70, 79, 89);
	box-sizing: border-box;
	height: 100%;
}

.zero {
  color: Gray;
}

.one {
  color: rgb(181, 255, 24);
}

#matrixSize {
	color: white;
  	font-size: 11px;
  	font-family: monospace;
  	text-align: center;
}


#topPanel img {
	padding-left: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
